config pcap 'pcap'
    option enabled '0'
    option extensive '0'

#config rule_override
    #option rule_id '007E0510'
    #option action 'log'

#config rule_override
    #option rule_id '007E0510'
    #option action 'block'

#config rule_override
    #option rule_id '007E0510'
    #option action 'log_and_block'

#config rule_override
    #option rule_id '007E0510'
    #option action 'nothing'
