config pcap 'pcap'
    option enabled '0'
    option extensive '0'
    option log_dropped '0'
    option log_other_dropped '0'  # packets which are dropped and are not a part of any rule

#config rule_override 007E0510
    #option action 'log'
    #option pcap_enabled '1'
    #option pcap_extensive '1'
    #option pcap_log_dropped '1'

#config rule_override 007E0510
    #option action 'block'
    #option pcap_enabled '1'
    #option pcap_extensive '0'
    #option pcap_log_dropped '0'

#config rule_override 007E0510
    #option action 'log_and_block'
    #option pcap_enabled '0'
    #option pcap_extensive '1'

#config rule_override 007E0510
    #option action 'nothing'
    #option pcap_enabled '0'
    #option pcap_extensive '0'
    #option pcap_log_dropped '0'
