
config pcap 'pcap'
    option enabled '1'
    option extensive '0'
    option log_dropped '0'
    option log_other_dropped '0'

config rule_override 00000002
    option action 'block'

config rule_override 00000003
    option action 'log'

config rule_override 00000004
    option action 'nothing'

config rule_override 00000005
    option action 'log'

config rule_override 00000006
    option pcap_enabled '1'

config rule_override 00000007
    option pcap_enabled '1'

config rule_override 00000008
    option pcap_enabled '1'
    option pcap_extensive '1'

config rule_override 00000009
    option pcap_enabled '1'
    option pcap_extensive '0'

config rule_override 0000000A
    option pcap_enabled '0'
    option pcap_extensive '1'

config rule_override 0000000B
    option pcap_enabled '0'
    option pcap_extensive '0'

config rule_override 0000000C
    option pcap_enabled '1'
    option pcap_log_dropped '1'

config rule_override 0000000D
    option pcap_enabled '1'
    option pcap_log_dropped '0'

config rule_override 0000000E
    option pcap_enabled '0'
    option pcap_log_dropped '1'

config rule_override 0000000F
    option pcap_enabled '0'
    option pcap_log_dropped '0'
