config defaults
	option input				'DROP'
	option output				'DROP'
	option forward				'DROP'
	option syn_flood			1
	option synflood_protect		1
	option synflood_rate		1000/m
	option synflood_burst		1000
	option drop_invalid			1
	option tcp_syncookies		1
	option tcp_ecn				1
	option tcp_window_scaling	1
	option accept_redirects		1
	option accept_source_route	1
	option custom_chains		1

config zone
	option name			lan
	option input		'DROP'
	option output		'DROP'
	option forward		'DROP'
	list   network		'lan'
	option masq			1
	option masq_src		'192.168.5.0/24'
	option masq_dest	'192.168.4.0/24'
	option conntrack	1
	option mtu_fix		1
	option log			1
	option log_limit	100/m
	option device		eth0
	option subnet		'192.168.0.0/16'
	option extra		'-c 10 20'

config zone
	option name			wan
	option input		'DROP'
	option output		'DROP'
	option forward		'DROP'
	list   network		'wan'
	list   network		'wan6'
	option extra_src	'-c 5 15'
	option extra_dest	'-c 15 25'

config forwarding
	option src		lan
	option dest		wan
	option family	ipv6

config forwarding
	option src		wan
	option dest		lan
	option family	ipv4


config redirect
	option src			lan
	option src_ip		192.168.1.101
	option src_dip		192.168.1.102
	option src_port		10-20
	option src_dport	11-21
	option proto		udp
	option dest			wan
	option dest_ip		192.168.1.201
	option dest_port	10-20
	option mark			0x01
	option start_date	2020-01-01
	option stop_date	2020-01-02
	option start_time	10:00:01
	option stop_time	10:00:02
	option weekdays		'sun'
	option monthdays	'1'
	option utc_time		1
	option target		'SNAT'
	option reflection	1
	option limit		1000/m
	option limit_burst	1000
	option extra		'-m length 10:1001'

config redirect
	option src			wan
	option src_ip		192.168.1.103
	option src_dip		192.168.1.104
	option src_port		11-21
	option src_dport	12-22
	option src_mac		00:11:22:33:44:55:66:77
	option proto		tcp
	option dest			lan
	option dest_ip		192.168.1.203
	option dest_port	10-20
	option src_mac		01:12:23:34:45:56:67:78
	option mark			0x02
	option start_date	2020-02-01
	option stop_date	2020-02-02
	option start_time	11:00:01
	option stop_time	11:00:02
	option weekdays		'sat'
	option monthdays	'2'
	option utc_time		1
	option target		'DNAT'
	option reflection	1
	option limit		1001/m
	option limit_burst	1001
	option extra		'-m length 11:1002'

config rule
	option src			wan
	option src_ip		192.168.4.101
	option src_port		13-23
	option src_mac		00:11:22:33:44:55:66:77
	option proto		tcp
	option dest			lan
	option dest_ip		192.168.4.102
	option dest_port	14-24
	option mark			0x03
	option start_date	2020-03-01
	option stop_date	2020-03-02
	option start_time	21:00:01
	option stop_time	21:00:02
	option weekdays		'mon'
	option monthdays	'3'
	option utc_time		1
	option target		'ACCEPT'
	option family		any
	option limit		1002/m
	option limit_burst	1002
	option extra		'-m length 12:1003'

config rule
	option src			wan
	option src_ip		192.168.8.101
	option proto		tcp
	option mark			0x03
	option target		'MARK'
	option set_mark		0xAAAAAAA
	option set_xmark	0x2222222

config rule
	option src			lan
	option src_ip		2001::3
	option proto		udp
	option target		'DROP'
	option family		ipv6

config rule
	option src			lan
	option src_ip		192.168.0.2
	option proto		tcp
	option target		'ACCEPT'
	option family		ipv4

config rule
	option src			lan
	option src_ip		192.168.0.3
	option proto		icmp
	option target		'REJECT'
	option icmp_type	any

config rule
	option src			lan
	option proto		icmp
	option target		'REJECT'
	option icmp_type	address-mask-reply
	option icmp_type	address-mask-request 
	option icmp_type	communication-prohibited
	option icmp_type	destination-unreachable 
	option icmp_type	echo-reply
	option icmp_type	echo-request
	option icmp_type	fragmentation-needed
	option icmp_type	host-precedence-violation
	option icmp_type	host-prohibited
	option icmp_type	host-redirect
	option icmp_type	host-unknown
	option icmp_type	host-unreachable
	option icmp_type	ip-header-bad
	option icmp_type	network-prohibited
	option icmp_type	network-redirect
	option icmp_type	network-unknown
	option icmp_type	network-unreachable
	option icmp_type	parameter-problem
	option icmp_type	port-unreachable
	option icmp_type	precedence-cutoff
	option icmp_type	router-solicitation
	option icmp_type	source-quench
	option icmp_type	source-route-failed

config rule
	option src			wan
	option proto		icmp
	option target		'REJECT'
	option icmp_type	protocol-unreachable
	option icmp_type	redirect
	option icmp_type	required-option-missing
	option icmp_type	router-advertisement
	option icmp_type	time-exceeded
	option icmp_type	timestamp-reply
	option icmp_type	timestamp-request
	option icmp_type	TOS-host-redirect
	option icmp_type	TOS-host-unreachable
	option icmp_type	TOS-network-redirect
	option icmp_type	TOS-network-unreachable
	option icmp_type	ttl-exceeded
	option icmp_type	ttl-zero-during-reassembly
	option icmp_type	ttl-zero-during-transit
	option icmp_type	ping
	option icmp_type	pong
