config defaults
	option input				'DROP'
	option output				'DROP'
	option forward				'DROP'
	option drop_invalid			0
	option syn_flood			0
	option synflood_protect		0
	option synflood_rate		0/m
	option synflood_burst		0
	option tcp_syncookies		0
	option tcp_ecn				0
	option tcp_window_scaling	0
	option accept_redirects		0
	option accept_source_route	0
	option custom_chains		0

config zone
	option name			lan
	option input		'DROP'
	option output		'DROP'
	option forward		'DROP'
	list   network		'lan'
	option masq			0
	option conntrack	0
	option mtu_fix		0
	option log			0
	option log_limit	0/m

config zone
	option name			wan
	option input		'DROP'
	option output		'DROP'
	option forward		'DROP'
	list   network		'wan'
	list   network		'wan6'
	option masq			0
	option conntrack	0
	option mtu_fix		0
	option log			0
	option log_limit	0/m

config forwarding
	option src		lan
	option dest		wan
